@import url(
    'https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'
);
@import url(
    'https://fonts.googleapis.com/css2?family=Acme&family=Comfortaa&display=swap'
);

* {
    font-family: Comfortaa;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #142d47c5;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.683);
}

header {
    width: 88%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
header > :nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header > :nth-child(1) > h3 {
    text-align: end;
    margin-right: 2px;
}
header > :nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
header > :nth-child(2) > a {
    width: 142px;
    height: 42px;
    border-radius: 200px;
    border: none;
    background-color: rgba(255, 255, 255, 0.683);
    color: #142d47c5;
    font-size: 1.17em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > :nth-child(2) > a:hover {
    background-color: #495b70;
    color: rgba(255, 255, 255, 0.683);
    border: 2px solid rgba(255, 255, 255, 0.683);
    transition: all 0.2s ease-out;
}

nav {
    width: 88%;
    height: 58px;
    border-top: 1px solid rgba(255, 255, 255, 0.683);
    border-bottom: 1px solid rgba(255, 255, 255, 0.683);
    display: flex;
    justify-content: flex-end;
}
nav > ul {
    display: flex;
    align-items: center;
    margin-right: 4px;
    font-size: 1.17em;
}
nav > ul > li,
nav > ul > div {
    margin-left: 30px;
    cursor: pointer;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.683);
}

.default {
    animation: 1.2s ease 0s 1 onload;
}
.reveal {
    opacity: 0;
    transform: translateY(24%);
    transition: all 1.2s ease;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
}
.mainSection > img {
    width: 500px;
    filter: grayscale(100%);
}
.mainSection > article {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.mainSection > article > h1 {
    font-size: 60px;
    text-align: right;
}
.mainSection > article > p {
    font-size: 28px;
    padding-top: 30px;
    font-style: italic;
    text-align: justify;
}
.scrollIcon {
    position: absolute;
    bottom: 0%;
    right: 9%;
    opacity: 60%;
}

.tecSection {
    /*border: 1px solid coral;*/
    width: 88%;
    padding-top: 30px;
}
.tecSection > span {
    font-size: 60px;
}
.leftWrapper {
    border-left: 1px solid rgba(255, 255, 255, 0.683);
    border-top: 1px solid rgba(255, 255, 255, 0.683);
    border-bottom: 1px solid rgba(255, 255, 255, 0.683);
    width: 100%;
    height: 200px;
    margin-top: 34px;
    margin-bottom: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.leftWrapper > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border: 1px solid yellow;*/
    width: 40%;
}
.leftWrapper > div > span {
    font-size: 30px;
}
.leftWrapper > p {
    font-size: 1.17em;
    text-align: justify;
    width: 40%;
}
.rightWrapper {
    border-right: 1px solid rgba(255, 255, 255, 0.683);
    border-top: 1px solid rgba(255, 255, 255, 0.683);
    border-bottom: 1px solid rgba(255, 255, 255, 0.683);
    width: 100%;
    height: 200px;
    margin-top: 34px;
    margin-bottom: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.rightWrapper > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border: 1px solid yellow;*/
    width: 40%;
}
.rightWrapper > div > span {
    font-size: 30px;
}
.rightWrapper > p {
    font-size: 1.17em;
    text-align: justify;
    width: 40%;
}
.rightLine {
    float: right;
    margin-bottom: 22px;
}
.html {
    background-color: #00dade00;
    background-image: linear-gradient(90deg, #e55f28 10%, #fb00ff00 100%);
}
.css {
    background-color: #00dade00;
    background-image: linear-gradient(90deg, #fb00ff00 10%, #0591d5 100%);
}
.js {
    background-color: #00dade00;
    background-image: linear-gradient(90deg, #eed91a 10%, #fb00ff00 100%);
}
.rjs {
    background-color: #00dade00;
    background-image: linear-gradient(90deg, #fb00ff00 10%, #5ed3f3 100%);
}
.rnt {
    background-color: #00dade00;
    background-image: linear-gradient(90deg, #409dee 10%, #fb00ff00 100%);
}
.git {
    background-color: #00dade00;
    background-image: linear-gradient(90deg, #fb00ff00 10%, #090a0c 100%);
}

footer {
    width: 100%;
    text-align: center;
    padding-top: 1%;
    margin-top: 10%;
    background-color: #142d4700;;
    background-image: linear-gradient(0deg, #142d47c5 20%, #97dae100 50%);

}
.social-networks-container {
    display: flex;
    justify-content: space-evenly;
}
footer > h3 {
    margin-bottom: 20px;
}
footer > :nth-child(2) > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 120px;
    text-decoration: none;
    opacity: 60%;
}
footer > :nth-child(2) > a:hover {
    text-decoration: underline;
}
.git-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.git-container > span {
    font-size: 1.17em;
}
.git-container > a {
    margin-top: 12px;
    margin-bottom: 20px;
}
.git-container > a:hover {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    header > :nth-child(1) > h3 {
        text-align: left;
        font-size: 15px;
    }
    header > :nth-child(1) > h1 {
        font-size: 26px;
    }
    nav {
        height: 40px;
        position: relative;
    }
    ul > :nth-child(3) {
        display: none;
    }
    ul > li > a,
    ul > div {
        font-size: 15px;
    }
    .mainSection {
        position: relative;
    }
    .scrollIcon {
        top: 8px;
        right: -24px;
    }
    .mainSection {
        flex-direction: column;
    }
    .mainSection > img {
        width: 380px;
        float: right;
    }
    .mainSection > article {
        width: 90%;
    }
    .leftWrapper {
        height: 400px;
        flex-direction: column;
        justify-content: center;
    }
    .leftWrapper > div,
    .leftWrapper > p {
        width: 80%;
        margin-top: 30px;
    }
    .rightWrapper {
        height: 400px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .rightWrapper > div,
    .rightWrapper > p {
        width: 80%;
        margin-top: 30px;
    }
}

@keyframes onload {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}