@import url(
    'https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'
);
@import url(
    'https://fonts.googleapis.com/css2?family=Acme&family=Comfortaa&display=swap'
);

* {
    font-family: Comfortaa;
    margin: 0;
}
body{
    background-color: #142d47c5;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.683);
}

header {
    width: 88%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}
header > :nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header > :nth-child(1) > h3 {
    text-align: end;
    margin-right: 2px;
}
header > :nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
header > :nth-child(2) > button {
    width: 142px;
    height: 42px;
    border-radius: 200px;
    border: none;
    background-color: rgba(255, 255, 255, 0.683);
    color: #142d47c5;
    font-size: 1.17em;
    cursor: pointer;
}

nav {
    width: 88%;
    height: 58px;
    border-top: 1px solid rgba(255, 255, 255, 0.683);
    border-bottom: 1px solid rgba(255, 255, 255, 0.683);
    display: flex;
    justify-content: flex-end;
}
nav > ul {
    display: flex;
    align-items: center;
    margin-right: 4px;
    font-size: 1.17em;
}
nav > ul > li,
nav > ul > div {
    margin-left: 30px;
    cursor: pointer;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.683);
}

.default {
    animation: 1.2s ease 0s 1 onload;
}
.reveal {
    opacity: 0;
    transform: translateY(20%);
    transition: all 1.2s ease;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
}
.mainSection > img {
    width: 500px;
    filter: grayscale(100%);
}
.mainSection > article {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}
.mainSection > article > h1 {
    font-size: 60px;
    text-align: right;
}
.mainSection > article > p {
    font-size: 28px;
    padding-top: 30px;
    font-style: italic;
    text-align: justify;
}
.scrollIcon {
    position: absolute;
    bottom: 0%;
    right: 9%;
    opacity: 60%;
}

.tecSection {
    border: 1px solid coral;
    width: 88%;
    height: 150vh;
}





* footer {
    text-align: center;
    padding-top: 1%;
    padding-right: 20%;
    padding-left: 20%;
}
* footer > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-networks-container {
    display: flex;
    justify-content: space-evenly;
}

* footer > section > div > a, 
  footer > section > p > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 120px;

    text-decoration: none;
    color: black;
}

.social-networks-container > a > lottie-player {
}

.git-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.git:hover,
* footer > section > div > a > p:hover{
    color: green;
    text-transform: uppercase;
}

@keyframes onload {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}